.favourites {
    .browse-container {
        text-align: center;
    }
    .browse {
        margin-top: 30px;
        color: $orange;
        font-size: 24px;
        display: inline-block;
    }
    p:hover {
        color: white;
    }
    .movies {
        justify-content: center;
    }
    article {
        width: 100%;
    }
    .box {
        margin-top: 40px;
        margin-bottom: 30px;
    }

}