.favourites {
    .browse-container{
        text-align: center;
    }
    .browse {
        margin-top: 30px;
        color: $orange;
        font-size: 24px;
        display: inline-block;
    }
    p:hover{
        color: white;
    }
}