// Type
h1, h2, p, ul {
    font-family: $mainFont;
    color: white;
    text-decoration: none;
    list-style: none;
}

li, a {
    color: $orange;
    text-decoration: none;
    list-style: none;
}

h1, h2, p {
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.7em;
}